* {background-color: #FAFDF3;}

body{ background-color: #FAFDF3;}

/*about*/

/* about css page*/
#head {font-size: 48px;}
#head {text-align: center;}
#heads {text-align: center;}
#headss {text-align: center;}
#h {text-align: center;}

/* information css borader*/
.card {
    color: black;
    border: 1px solid #000;
    padding: 10px;
    margin:20px auto;
    max-width: 400px;
    background: #FAFDF3;
    box-shadow: 0 12px 24px rgb(0, 0, 0, 0.15);}
     
.card dt {margin: 5px 0;
font-size: 1.1em;}

figure {display: flex;
    align-items: center;
    justify-content: center;}



/* timetable */
    #tb {
        width: 100%;
        border-collapse: collapse;
    }
    #tb th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #24252a;
    }
    #tb tr:nth-child(even) {
        background-color: whitesmoke;
    }
    #tb th {
        background-color: #24252a;
        color: white;
    }

/*email button*/
.btn {text-align: center; }
.btn button {font-size: 17px;
padding:8px 10px;
background-color: #000;
border-radius: 4px;
font-weight: bold;
cursor: pointer;
box-shadow: 0 12px 24px rgb(0, 0, 0, 0.15);
transform: translateY(-2px);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn button:hover{transform: translateY(-6px) scale(1.05);}


/*Meet our team backdorp*/
@keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.fade{
    opacity: 0;
    animation: fade 0.8s ease forwards;
}
#headss {background-color: #24252a; 
        color:whitesmoke;
        text-align: center; 
        width: auto; 
        height: 50px; 
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
     }




.bg {background-color: transparent;
  color: black;
}

.fieldchange {
  margin-left: 0;
  

}

